@charset "utf-8";

.f-d
{
	background-color: #fff;
	width: 99%;
	height: 300px;
	margin: 10px auto;
	box-shadow: 0px 4px 5px;
}
.s{
	background-color: #2b2b2f;
}
.title
{
	/*background-color: #1f90a6;*/
	height: 50px;
	width: 99%;
	margin: 10px auto;
	line-height: 50px;
	text-align: center;
	color: #1f90a6;
	box-shadow: 0px 7px 20px;
}
.ab-p
{
	text-align: left;
	width: 45%;
	line-height: 25px;
	padding: 20px 20px;
}
.t2
{
	color: #fff;
	margin-left: 20px;
	padding-top: 20px;
	font-size: 25px;
}
.mp
{
	color: #fff;
}
.m
{
	display: grid;
	grid-template-columns: auto auto auto;
	margin: 0px auto;
	margin-bottom: 10px;
	background-color: #fff;
	box-shadow: 0px 3px 7px;
	width: 99%;
}
.sp
{
	margin: 5px auto;
	height: 200px;
	width: 90%;
}
.ci
{
	height: 100px;
	width: 100px;
	margin: 10px 0px;
	margin-left: 40%;
}
.sp-t
{
	text-align: center;
}
.t3
{
	color: #000000;
}