@charset "utf-8";

	*{
		margin: 0px;
		padding: 0px;
	}
.hdr-logo
{
	height: 60px;
	width: 100px;
	float: left;
	margin: 20px 20px;
}
	.main
	{
		/*height: 100%;*/
		width: 100%;
		background-color: #EBEBEB;
	    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}
	.hdr
	
	{
		height: 100px;
		/*background-color: #1F90A6;*/
		background-color: #fff;
		box-shadow: 0px 3px 10px;
	}
	
	.footer
	{
		height: 80px;
		text-align: center;
	}
	ul{
		list-style-type: none;
		margin-right: 60px;
	}

	ul li{
		float: right;
		margin-top: 40px;
		padding: 0px 15px;
	}
	ul li a
	{
		color: #14171c;
		text-decoration: none;
		font-weight: bold;

	}
	ul li a:hover{
		color: #1f90a6;
	}
	.active{
		color: #1f90a6;
	}
	.sec{
		height: auto;
	}
	.ft-p{
		line-height: 80px;
		color: #26bcdb;
	}

